<?xml version="1.0"?>
<!-- This file can be launched by robot autolaunch or by start_simulation.launch -->
<!-- Do not launch manually! -->

<launch>
  <arg name="robot_name" default="omega" />
  <arg name="ground_truth" default="False" />

  <group ns="$(arg robot_name)">
    <!-- load config into parameter server -->
    <rosparam file="$(find omega)/config/config.yaml" command="load" />

    <!-- start diff_drive -->
    <node name="omega_node" pkg="omega" type="omega" output="screen" respawn="true" />
  </group>
</launch>
